
.index-news {
    .index-news-announce {
        position: relative;
            .index-news-photo {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 40px;
                }
            }
            .index-news-photo-bg {
                position: absolute;
                bottom: 0;
                width: 100%;
                pointer-events: none;
                img {
                    width: 100%;
                }
            }

            .index-news-announce-text {
                position: absolute;
                bottom: 0;
                a {
                    color: rgba(var(--bs-style-green-rgb), 1);
                    font-size: 26px;
                    font-weight: 600;
                }
            }
    }

}